events {
    worker_connections  1024;
}

http {
    server {
        listen 80;
        server_name localhost;

        {% for host in groups['backend_public_ip'] %}
        location / {
            proxy_pass http://{{ host }}:19999;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
        {% endfor %}
    }
}

